* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-image: linear-gradient(to bottom right, rgba(79,51,176,1.0), rgba(210,53,165));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculadora {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333
}

.theme-toggler.active::before {
    background-color: white;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button::hover {
    transform: scale(1.15);
}

button#igual {
    height: 130px;
}

/* Tema Claro */

.calculadora {
    background-color: white;
}

.calculadora #display {
    color: black;
}

.calculadora button#limpar {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculadora button.btn-numero {
    background-color: #c3eaff;
    color: black;
}

.calculadora button.btn-operador {
    background-color: #ffd0fd;
    color: #f967f3;
}

.calculadora button.btn-igual {
    background-color: #adf9e7;
    color: black;
}

/* Tema Escuro */

.calculadora.dark {
    background-color: #071115;
}

.calculadora.dark #display {
    color: #fafafd;
}

.calculadora.dark button#limpar {
    background-color: #2d191e;
    color: #bd3740;
}

.calculadora.dark button.btn-numero {
    background-color: #1b2f38;
    color: #f8fafb;
}

.calculadora.dark button.btn-operador {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculadora.dark button.btn-igual {
    background-color: #223323;
    color: white;
}