* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculadora {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(12, 12, 12);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #000000
}

.theme-toggler.active::before {
    background-color: #ffffff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #080808;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-bottom: 20px;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.2);
}

button#igual {
    height: 130px;
}

/* Tema Claro */

body {
    background-color: #e9eaed;
}

.calculadora {
    background-color: #ffffff;
}

.calculadora #display {
    color: #000000;
}

.calculadora button#limpar {
    background-color: #e5202b;
    color: #000000;
}

.calculadora button.btn-numero {
    background-color: #dbdbdb;
    color: #000000;
}

.calculadora button.btn-operador {
    background-color: #27292a;
    color: #ffffff;
}

.calculadora button.btn-igual {
    background-color: #e5202b;
    color: #000000;
}

/* Tema Escuro */

body.dark {
    background-color: #111111;
}

.calculadora.dark {
    background-color: #080808;
}

.calculadora.dark #display {
    color: #fafafd;
}

.calculadora.dark button#limpar {
    background-color: #e5202b;
    color: #000000;
}

.calculadora.dark button.btn-numero {
    background-color: #000000;
    color: #dbdbdb;
}

.calculadora.dark button.btn-operador {
    background-color: #ffffff;
    color: #27292a;
}

.calculadora.dark button.btn-igual {
    background-color: #e5202b;
    color: #ffffff;
}